/* sets the page background color to lightskyblue */
* {
    background-color: lightskyblue;
}
/* sets the styles for the code-quiz-header class */
.code-quiz-header {
    width: 100%;
    background-color: lightskyblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* sets the styles for the start-quiz class */
.start-quiz {
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* sets the styles for the quiz-head class */
.quiz-head {
    font-size: 48px;
    font-weight: bolder;
    padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-left: 100px;

}

/* sets the styles for the quiz-instructions class */
.quiz-instructions {
    font-size: 24px;
    padding-top: 40px;
    padding-right: 200px;
    padding-bottom: 40px;
    padding-left: 200px;
}

/* sets the styles for the btn class */
.btn {
    border: none;
    background-color: purple;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }

  /* sets the styles for the quiz class */
  .quiz {
    width: 0%;
    height: 0%;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    margin: 0%;
  }

  /* sets the styles for the question-id ID */
  #question-id {
    color: white;
    font-size: 32px;
    font-weight: bolder;
  }

    /* sets the styles for the distractors ID */
  #distractors {
    font-size: 20px;
    color: white;
    background-color: purple;
    padding: 0px;
    margin: 35px;
  }

      /* sets the styles for the score class */
  .score {
    width: 0%;
    height: 0%;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
  }

  /* sets the styles for the all-done ID */
  #all-done {
    background-color: lightskyblue;
    font-size: 32px;
    font-weight: bolder;
    padding: 20px;
  }

  /* sets the styles for the initial-form ID */
  #initial-form {
    background-color: lightskyblue;
    font-size: 24px;
  }

  /* sets the styles for the high-score class */
  .high-score {
    background-color: lightskyblue;
    font-size: 32px;
    font-weight: bolder;
    padding: 20px;
    width: 0%;
    height: 0%;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
  }
  /* sets the styles for the right-or-wrong ID */
  #right-or-wrong {
    font-size: 24px;
    font-weight: bolder;
    padding: 20px;
  }
  /* sets the styles for the high-score-table ID */
  #high-score-table {
    background-color: crimson;
    border: 1px solid;
    margin: 20px;
    width: 50%;
    text-align: center;
  }