.code-quiz-header {
    width: 100%;
    background-color: lightskyblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start-quiz {
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.quiz-head {
    font-size: 48px;
    font-weight: bolder;
    padding-top: 40px;
    padding-right: 100px;
    padding-bottom: 40px;
    padding-left: 100px;

}

.quiz-instructions {
    font-size: 24px;
    padding-top: 40px;
    padding-right: 200px;
    padding-bottom: 40px;
    padding-left: 200px;
}

.btn {
    border: none;
    background-color: purple;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
      0px;
    color: hsl(0, 0%, 100%);
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }

  #question-id {
    background-color: lightskyblue;
    font-size: 32px;
    font-weight: bolder;
  }

  #distractors {
    font-size: 20px;
    color: white;
    background-color: purple;
    padding: 20px;
  }

  #all-done {
    background-color: lightskyblue;
    font-size: 32px;
    font-weight: bolder;
    padding: 20px;
  }

  #initial-form {
    background-color: lightskyblue;
    font-size: 24px;
  }